services:
  mongodb:
    image: mongo:7
    container_name: rasp-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - ./data:/data/db

  backend:
    build: ./backend
    container_name: rasp-backend
    restart: always
    ports:
      - "5000:5000"
    depends_on:
      - mongodb
    environment:
      - MONGO_URL=mongodb://mongodb:27017/raspdb