:root {
    /* Primary Colors */
    --light-primary-color: #E37EB7;
    --midlight-primary-color: #D3539B;
    --primary-color: #C43285;
    --middark-primary-color: #B40F6C;
    --dark-primary-color: #B40F6C;

    /* Complement Colors */
    --light-complement-color: #FFFF8E;
    --midlight-complement-color: #FFFF64;
    --complement-color: #F4F43E;
    --middark-complement-color: #E0E012;
    --dark-complement-color: #ADAD07;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

main {
    padding-top: 50px;
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    margin: 0.5rem 0;
    border-top: 1px solid var(--primary-color);
}

.outline {
    height: 32px;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    color: var(--primary-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.outline:hover {
    background-color: var(--complement-color);
    border: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}