:root {
    /* Primary Colors */
    --light-primary-color: #E37EB7;
    --midlight-primary-color: #D3539B;
    --primary-color: #C43285;
    --middark-primary-color: #B40F6C;
    --dark-primary-color: #B40F6C;

    /* Complement Colors */
    --light-complement-color: #FFFF8E;
    --midlight-complement-color: #FFFF64;
    --complement-color: #F4F43E;
    --middark-complement-color: #E0E012;
    --dark-complement-color: #ADAD07;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

main {
    padding: 10px;
    max-width: 720px;
    margin: 0 auto;
}

button {
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
}

button:hover {
    background-color: var(--middark-primary-color);
}